# # Exploratory analysis on timelines tweets

In this dataset, we extract the timelines (last 200 tweets) for all users interacting with the three popular users

- MashiRafael (politics)
- aguschmer (sports)
- KarlaMoralesR (activism on humanitarian aid)

In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
from tqdm import tqdm

In [24]:
pusers = {}
pwords = {}
timelines = {}

n_tweets = 0
descriptions = {}

with open('../data/convusersec/timelines_raw.csv', 'r') as f:
    reader = csv.DictReader(f)
    next(reader)
    prior_screen_name = ''
    description = ''
    tweets = []
    
    for i, row in tqdm(enumerate(reader), total=profiles.shape[0]):
        
        username = row['screen_name']
        pusers[username] = 1 if username not in pusers else pusers[username] + 1
        
        if prior_screen_name != username:
            timeline = ' '.join(tweets)
            wlist = timeline.split()
            
            for t in wlist:
                pwords[t] = 1
            
            timelines[prior_screen_name] = len(wlist)
            prior_screen_name = username
            tweets =[]

            if len(description) > 0:
                descriptions[prior_screen_name] = len(description.split())
        
        tweet = row['text']          
        description = row['description']
        tweets.append(tweet)
        
        
n_tweets = i + 1

100%|█████████▉| 14860508/14860509 [08:49<00:00, 28053.28it/s]

In [42]:
del timelines['']
tl_words = np.array(list(timelines.values()))
tl_tweets = np.array(list(pusers.values()))

In [46]:
stats =[]
stats.append( ['users', len(pusers)] )
stats.append( ['desc', len(descriptions)] )
stats.append( ['tweets', n_tweets] )
stats.append( ['words', len(pwords)] )

stats.append( ['min tweets', tl_tweets.min()] )
stats.append( ['avg tweets', tl_tweets.mean()] )
stats.append( ['max tweets', tl_tweets.max()] )
stats.append( ['median tweet', np.median(tl_tweets)] )


stats.append( ['min words', tl_words.min()] )
stats.append( ['avg words', tl_words.mean()] )
stats.append( ['max words', tl_words.max()] )
stats.append( ['median words', np.median(tl_words)] )

stats_df = pd.DataFrame(stats, columns=['stat', 'value'], dtype=object)
stats_df

            stat     value
0          users    120220
1           desc     71142
2         tweets  14860508
3          words  13607961
4     min tweets         1
5     avg tweets   123.611
6     max tweets     39436
7   median tweet        74
8      min words         1
9      avg words   1571.77
10     max words    652282
11  median words       834

In [47]:
stats_df.to_csv('../results/ds_stats_timelines.csv', index=False)

## who are those outliers??

In [44]:
for k,v in pusers.items():
    if v > 30000:
        print(k, v)

eluniversocom 31637
trendinaliaEC 39436