In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [5]:
!ls /Users/johnny/data/nlp/microblog_conversation/

TREC.data               US_Election.data        conversation_README.txt

In [28]:
!head /Users/johnny/data/nlp/microblog_conversation/US_Election.data

In [29]:
data_dir= '/Users/johnny/data/nlp/microblog_conversation/'

In [30]:
cols = ['conv_id' , 'id', 'reply_to_id']
path = os.path.join(data_dir, 'US_Election.data')
ds = pd.read_csv(path, sep='\t', skiprows=1, names=cols, dtype=object)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22092 entries, 0 to 22091
Data columns (total 3 columns):
conv_id        22092 non-null object
id             22092 non-null object
reply_to_id    20079 non-null object
dtypes: object(3)
memory usage: 517.9+ KB

In [31]:
ds.head()

  conv_id                  id         reply_to_id
0       0  106084327581949952                 NaN
1       0  678492701453627392  106084327581949952
2       1  149589104168939520                 NaN
3       1  373526119758049280  149589104168939520
4       1  373528844516339712  373526119758049280

In [32]:
ds.conv_id.nunique()

2013

In [33]:
ds.id.nunique(), ds.reply_to_id.nunique()

(22092, 19206)

In [34]:
ds[ds.reply_to_id.isin(ds.id)].reply_to_id.nunique()

19206

In [35]:
path=os.path.join(data_dir, 'us_election.csv')
ds[['id']].to_csv(path, index=False)