In [1]:
import pandas as pd

In [2]:
path = '/Users/johnny/data/crisis/emerging_leaders/conversations.csv'

In [3]:
ds = pd.read_csv(path)
ds.shape

(520263, 12)

In [24]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520263 entries, 0 to 520262
Data columns (total 12 columns):
id                       520263 non-null int64
screen_name              520263 non-null object
latitude                 4063 non-null float64
longitude                4063 non-null float64
in_reply_to_status_id    507354 non-null float64
text                     520263 non-null object
timestamp                520247 non-null object
conversation_id          520263 non-null int64
conversation_deep        520263 non-null int64
num_replies              520263 non-null int64
num_users                520263 non-null int64
url                      520263 non-null object
dtypes: float64(3), int64(5), object(4)
memory usage: 47.6+ MB

In [6]:
ds[ds.text.str.contains('life straw')].values

array([[723235984662511616, 'KarlaMoralesR', nan, nan, nan,
        'Alg√∫n courrier que nos apoye? https://t.co/YRDCqRW2zh',
        '2016-04-21 19:44:30', 723235984662511616, 1, 41, 29,
        'https://www.twitter.com/KarlaMoralesR/status/723235984662511616']],
      dtype=object)

**mention from KarlaMoralesR to ArianaCevallos but it's not in the dataset**

https://twitter.com/ariannacevallos/status/723234766653415425

In [25]:
ds[ds.screen_name.str.lower()=='JAGhedini'.lower()]

Empty DataFrame
Columns: [id, screen_name, latitude, longitude, in_reply_to_status_id, text, timestamp, conversation_id, conversation_deep, num_replies, num_users, url]
Index: []

In [11]:
path = '/Users/johnny/data/crisis/emerging_leaders/timelines_raw.csv'

In [13]:
profiles = pd.read_csv(path, usecols=['screen_name','description'])
profiles.shape

(14860509, 2)

In [17]:
profiles.drop_duplicates('screen_name', inplace=True)
profiles.fillna('', inplace=True)

In [18]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120220 entries, 0 to 14860360
Data columns (total 2 columns):
screen_name    120220 non-null object
description    120220 non-null object
dtypes: object(2)
memory usage: 2.8+ MB

In [20]:
profiles[profiles.description.str.contains('good story')]

Empty DataFrame
Columns: [screen_name, description]
Index: []

In [23]:
profiles[profiles.screen_name.str.lower()=='JAGhedini'.lower()]

Empty DataFrame
Columns: [screen_name, description]
Index: []

In [40]:
profiles[profiles.screen_name=='daniellimb'].values

array([['daniellimb',
        'mom of twins+one, designer, advertiser, photographer,dancer, driven and life lover. Love @artsenal']],
      dtype=object)

In [41]:
profiles[profiles.screen_name=='Sandinin'].values

array([['Sandinin',
        'abogado, humanista, sigo creyendo en el ser humano!!!']],
      dtype=object)

In [43]:
path = '/Users/johnny/data/crisis/emerging_leaders/timelines.csv'

In [44]:
profiles = pd.read_csv(path)
profiles.shape

(120219, 2)

In [48]:
profiles[profiles.screen_name=='juanjogldu'].values

array([['juanjogldu',
        "MENTION ltc ? MENTION ... MENTION great news my friend . cheers for that ! MENTION quien pidio sanduches ? MENTION HASHTAG ? MENTION que grande ! MENTION todos tiene rabo de paja , toditos estan embarrados hasta las patas MENTION ltc ? MENTION you'll be ok and beat it ! MENTION clasico ? clasico es que no ganen en casa blanca . para ldu no es clasico ."]],
      dtype=object)

In [46]:
profiles[profiles.screen_name=='Sandinin'].values

array([['Sandinin',
        'dios ! directo a la mierda nos estamos yendo en todos los aspectos ! quien denuncia es enjuiciado , mas alla de las personas esto es una estupidez , a baca lo censuran por haber denuncia ... tal cual ! que verguenza ! ahora retiran la firma via oficio ! MENTION de verguenza en verguenza ! pobre mi pais ! HASHTAG el " recaderito " es una verguenza ! mientras echando espuma clama que deben " recuperar " la fiscalia ! quieren la fiscalia ! asi de sencillo ! y el plazo ? y guacho ? te lo jurito !']],
      dtype=object)